doctype html
html
    head
        meta(charset="utf-8")
        title Iris Messenger
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
    body
        div.container-fluid
            div.row.ui-title
                span(class="glyphicon glyphicon-comment icon-iris")
                |  Iris Messenger
            div.row.ui-subtitle
                div.conversation-title
                    span Conversations
                    a#btn-add-conversation.pull-right(href="#", data-toggle="modal", data-target="#modal-add-conversation")
                        span.glyphicon.glyphicon-plus
                if groupName
                    div.message-title
                        span #{groupName}
                        a.pull-right(href="")
                            span.glyphicon.glyphicon-log-out
            if groupName
                div.row.ui-textbox
                    form#message-text-form
                        input#message-textbox.form-control(type="text", placeholder="Enter your message (press Enter to send)")
                        button(type="submit")
                            span.glyphicon.glyphicon-send
            div.panel-conversation
                ul.nav.conversation-list
                    each group in allGroup
                        li
                            a(href="?groupName="+group.name)
                                span.group-name #{group.name}
                                span.group-recent #{group.users.length} users in this conversation
            if groupName
                div.message-box
                    each message in messages
                        div.message.message-friend
                            span.message-sender #{message.user.name} | #{message.createdAt}
                            span.message-text #{message.text}
        div#modal-add-conversation.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modal-add-conversation-label")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4#modal-add-conversation-label.modal-title Create new conversation
                    div.modal-body
                        div#alert-add-conversation.alert.alert-danger
                            span.glyphicon.glyphicon-exclamation-sign
                            |  
                            span#alert-add-conversation-text
                        form#form-add-conversation
                            div.form-group
                                input#input-conversation-name.form-control(type="text",name="new_group", placeholder="Tell your conversation name")
                    div.modal-footer
                        button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                        button.btn.btn-primary(type="button", data-dismiss="modal") Create
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/socket.io.js")
        script.
            var socket = io();
            
            $(document).ready(function(){
                $('#message-textbox').focus();
            });
            
            $('#modal-add-conversation').on('shown.bs.modal', function(){
                $('#input-conversation-name').focus()
            });
            
            $('#message-text-form').submit(function(){
                // TODO: socket emit
                $('#message-textbox').val('');
                return false;
            });
            
            socket.on('chat', function(message) {
                // แสดงผลข้อความที่ได้มาออกมาทางหน้าจอ
                $('#message-box').append($('<div class="message message-me">')
                .append($('<img class="message-picture">')).append($('<span class="message-sender">').text('Me'))
                .append($('<span class="message-text">').text(message)));
            });
            $('#form-add-conversation').submit(function(e){
                e.preventDefault();
                $.ajax({
                    url: "/create/group/",
                    data: {new_group:$('#input-conversation-name').val()},
                    method: "post"
                })
                .done(function(data){
                    if(data.status == 'already exist')
                        console.log('asd');
                    else if(data.status == 'created')
                        console.lof('dsf');
                });
            });
